<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-info navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link lead text-dark" href="{% url 'contactbox:home' %}">HOME </a>
                </li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>