<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-dark text-light" >
    <div class="container">
        <nav class="navbar-expand-sm bg-secondary navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contactbox:home' %}">
                        <button class="btn btn-dark">HOME </button></a>
                </li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>