{% extends 'ContactBox/base.html'%}

{% block title %}Contact Box{% endblock %}

{% block content %}

    <table class="table table-dark table-striped table-bordered">
        <thead class="lead">
            <th>Nazwisko</th>
            <th>Imię</th>
            <th>Modyfikuj</th>
            <th>Usuń</th>
        </thead>
    <tbody>
    {% for person in persons %}
        <tr>
            <td><a class="text-light" href="{% url 'contactbox:person' person.id %}">{{ person.surname }}</a></td>
            <td><a class="text-light" href="{% url 'contactbox:person' person.id %}">{{ person.name }}</a></td>
            <td><button class="btn btn-warning">modyfikuj</button></td>
            <td><button class="btn btn-danger">usuń</button></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <br/>
    <a href="{% url 'contactbox:new' %}"><button class="btn btn-success">Nowy kontakt</button></a>

{% endblock %}